<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h2 class="h2">Update Your Password</h2>
            </div>
        </div>
    </div>
</div>
<div class="row">
   <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="well well-sm">
         <div class="row">
            <div class="col-sm-6 col-md-4">
               <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
            </div>
            <div class="col-sm-6 col-md-8">
               <h4>{{user}}</h4>
               <small>
               <cite title="San Francisco, USA">
               <i class="glyphicon glyphicon-map-marker"></i>
               N/A
               </cite>
               </small>
               <p>
                  <i class="glyphicon glyphicon-envelope"></i>&nbsp;&nbsp;{{email}}
                  <br />
                  <i class="glyphicon glyphicon-globe"></i>
                  <a href="http://www.seersol.com">Seersol.com</a>
                  <br />
                  <i class="glyphicon glyphicon-gift"></i>June 02, 1988
               </p>
               <!-- Split button -->
               <div class="btn-group">
                  <button type="button" class="btn btn-primary">
                  Social</button>
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span><span class="sr-only">Social</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                     <li><a href="#">Twitter</a></li>
                     <li><a href="https://plus.google.com/+Jquery2dotnet/posts">Google +</a></li>
                     <li><a href="https://www.facebook.com/jquery2dotnet">Facebook</a></li>
                     <li class="divider"></li>
                     <li><a href="#">Github</a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-xs-12 col-sm-6 col-md-6 ">
      <form  class="form-horizontal" role="form" >
         <div id="signupalert" style="display:none" class="alert alert-danger">
            <p>Error:</p>
            <span></span>
         </div>
         <div class="form-group">
            <div class="col-md-9">
               <input type="text" class="form-control" placeholder="Current Password">
            </div>
         </div>
         <div class="form-group">
            <div class="col-md-9">
               <input type="text" class="form-control" placeholder="New Password">
            </div>
         </div>
         <div class="form-group">
            <div class="col-md-9">
               <input type="text" class="form-control" placeholder="Retype New Password">
            </div>
         </div>
         <div class="form-group">
            <!-- Button -->
            <div class="col-md-9">
               <button id="btn-signup" type="submit" class="btn btn-success btn-block">
               <i class="icon-hand-right"></i>&nbsp; Update Password &nbsp;</button>
            </div>
         </div>
      </form>
   </div>
 </div>
